body {
	color: #eee;
	background-color: #000;
	font-family: "DejaVu Sans Mono", "FreeMono", sans-serif;
	line-height: 1.6em;
	max-width: 800px;
	margin: auto;
}

a, a:link {
	color: #B2EDE6;
}
a:visited {
	color: #29b8a6;
}
a:hover, a:active, a:focus {
	color: #D5974C;
}

code {
	font-family: inherit;
	font-size: 1em;
	background-color: #2F3136;
	border: 1px solid #202225;
	border-radius: 6px;
	padding: 0.2em;
}

.click2copy code {
	cursor: pointer;
}

#links {
	list-style: none;
}
#links dt, #links dd {
	margin: -1px 0 0;
	border: 1px solid #0FF;
}
#links dt {
	font-size: 1.2em;
	padding: 1rem 0.6rem;
}
#links dd {
	padding: 0.6rem;
	font-size: 1.2em;
	margin-left: 5em;
	margin-bottom: 2em;
}
#links a {
	text-decoration: none;
	padding: 0.5em 0;
}
#links img {
	height: 1.2em;
	vertical-align: top;
}

